* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.conteiner {
  width: 1440px;
  height: 47px;
  background-color: #b36050;
  color: aliceblue;
}
.conteiner p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
}
header {
  width: 1440px;
  height: 61px;
  background-color: #f6f4ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li,
a,
p {
  text-decoration: none;
}
.link__nav {
  list-style: none;
}
.link__nav li {
  display: inline-block;
  padding: 22px 16px 28px;
  font-size: 18px;
  color: #b36050;
  text-decoration: none;
}
header p {
  padding-right: 67px;
}
.content {
  background-color: #a9ae8d;
  width: 1440px;
  height: 304px;
}
.imgasosiy {
  width: 1440px;
  height: 435px;
}
.content {
  text-align: center;
}
.content p {
  padding-top: 69px;
  padding-bottom: 15px;
  font-size: 18px;
  color: white;
}
.content h1 {
  font-size: 33px;
  color: white;
  padding-bottom: 28px;
}
.content button {
  width: 128px;
  height: 48px;
  color: white;
  background-color: #b36050;
  border: 0;
}
button:hover {
  background-color: white;
  color: #b36050;
  border: #b36050;
}
.section {
  width: 1440px;
  height: 835px;
  background-color: #f6f4ec;
}
.img1 {
  padding-left: 70px;
  padding-right: 80px;
  padding-top: 44px;
  display: inline-block;
}
.img2 {
  display: inline-block;
  padding-right: 80px;
}
.section .text {
  font-size: 23px;
  text-align: center;
  color: #b36050;
  padding-top: 39px;
}
.text11 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #b45f4d;
  padding-right: 262px;
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 7px;
}
.text22 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  padding-right: 390px;
  padding-top: 10px;
  padding-bottom: 7px;

  text-transform: uppercase;

  color: #b45f4d;
}
.text33 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #b45f4d;
  padding-top: 10px;
  padding-bottom: 7px;
}
.text2 {
  display: flex;
}
.text3 {
  display: flex;
}
.text111 {
  padding-left: 70px;
  padding-bottom: 86px;
  color: #b36050;
  font-size: 16px;
}
.text222 {
  padding-left: 415px;
  color: #b36050;
  font-size: 16px;
}
.text333 {
  padding-left: 363px;
  color: #b36050;
  font-size: 16px;
}
.bg {
  background-image: url(../images/bg.png);
  padding-top: 34px;
  padding-left: 110px;
  padding-bottom: 40px;
  height: 488px;
  width: 1440px;
  background-color: white;
}
.texttext {
  width: 1220px;
  height: 92px;
  background-color: #df9b7a;
  display: flex;
  padding-bottom: 51px;
}
.pr {
  font-size: 20px;
  color: white;
  padding-right: 513px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
.pr1 {
  color: white;
  font-size: 20px;

  padding-top: 30px;
  padding-bottom: 30px;
}
.bg2 {
  background-color: #f1d3b9;
  width: 1440px;
  height: 914px;
  display: flex;
  padding-left: 190px;
  padding-top: 84px;
  padding-right: 53px;
  padding-bottom: 96px;
}
.span1 {
  width: 518px;
  height: 582px;
  background-color: white;
  margin: 53px;
}
.tt1 {
  text-align: center;
  font-size: 30px;
  padding: 50px 194px 22px;
  color: #b45f4d;
}
.tt2 {
  text-align: center;
  color: #b45f4d;
  font-size: 19px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 41px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  /* or 160% */

  color: #b45f4d;
}
.tt3 {
  text-align: center;
  color: #b45f4d;
  padding-bottom: 50px;
  padding-right: 388px;
  font-size: 16px;
}
.footer {
  background-color: #f6f4ec;
  width: 1440px;
  height: 365px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer ul {
  list-style: none;
  padding-top: 64px;
}
.ul1 {
  padding-left: 50px;
  padding-right: 112px;
  color: #b45f4d;
}
.l1 {
  padding-bottom: 12px;
  color: #b45f4d;
}
.rt {
  float: right;
  padding-top: 62px;
  padding-left: 513px;

  font-size: 14px;
  color: #b45f4d;
}
.search {
  color: #b36050;
  padding-left: 902px;
}
.df {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #c17c6c;
}
.phototext {
  padding-top: 54px;
  padding-bottom: 48px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 39px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.photos {
  text-align: center;
  padding-bottom: 48px;
}
